<div class="content">
    <!-- Header Start -->
    <div class="header" id="header">
        <div class="content-inner">
            <p>I'm</p>
            <h1>Michael Miller</h1>
            <h2>Graphi</h2><span class="typed-cursor">|</span>
            <div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Developer, Graphic Designer</div>
        </div>
    </div>
    <!-- Header End -->
    
    <!-- Large Button Start -->
    <div class="large-btn">
        <div class="content-inner">
            <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
            <a class="btn" href="#"><i class="fa fa-hands-helping"></i>Hire Me</a>
        </div>
    </div>
    <!-- Large Button End -->
    
    <!-- About Start -->
   <app-aboutme></app-aboutme>
    <!-- About End -->
    
    <!-- Education Start -->
    <app-educations></app-educations>
    <!-- Education Start -->
    
    <!-- Experience Start -->
    <app-experience></app-experience>
    <!-- Experience Start -->
    
    <!-- Service Start -->
    <app-service></app-service>
    <!-- Service Start -->
    
    <!-- Portfolio Start -->
    <app-portfolio></app-portfolio>
    <!-- Portfolio Start -->
    
    <!-- Review Start -->
    <app-review></app-review>
    <!-- Review End -->
    
    <!-- Contact Start -->
    <app-contact></app-contact>
    
    <!-- Contact End -->
    
    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer Start -->
</div>